.home__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7rem 0;
}

.home__section > h2 {
  font-size: var(--ligo-text_size-6xl);
  text-align: center;
}

.home__section > p {
  font-size: var(--ligo-text_size-2xl);
  font-style: italic;
  text-align: center;
}
