[submodule "vendors/tezos-ligo"]
	path = vendors/tezos-ligo
	url = https://gitlab.com/ligolang/tezos-ligo.git
	branch = v20.0-rc1-ligo
[submodule "tools/lsp-bench/projects/submodules/checker"]
	path = tools/lsp-bench/projects/submodules/checker
	url = https://github.com/marigold-dev/checker-ligo.git
	branch = main
