/_build/
*~
*.merlin
cache/*
Version.ml
/result
/result-*
/_opam/
/*.pp.ligo
/*.pp.mligo
/*.pp.religo
**/.DS_Store
.vscode/
/ligo.install
*.coverage
/_coverage/
/_coverage_*/
*.gyp

# lsp-related 
node_modules/
tools/lsp/squirrel/grammar/*/src
tools/lsp/squirrel/vendor/**
.stack-work
nix/result
.idea
*.iml
stale_outputs_checked
*.cabal
