.switchContainer {
  display: flex;
  background-color: var(--ifm-pre-background);
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--ifm-contents-border-color);
}
