# npm node_modules and results of building the VSCode extension
/vscode-plugin/bin/
/vscode-plugin/out/
/vscode-plugin/build/
/vscode-plugin/node_modules/

# nix build results
result
result-*

# nix-direnv
.envrc
.direnv
