.navbar {
  margin-top: -49px;
  height: 49px;
  top: 0;
  padding: 0;
  border-bottom: 1px solid var(--color-border);
  z-index: 1000;
  flex: none;
  justify-content: stretch;
  align-items: stretch;
}
.navbar.navbar-dark {
  background: var(--color-primary);
}

.navbar-left>.nav-link {
  border-right: 1px solid var(--color-border);
}
.navbar-right>.nav-link {
  border-left: 1px solid var(--color-border);
}

.nav-link:hover {
  background-color: var(--color-secondary);
}
.nav-link.active {
  background: var(--color-secondary);
}

.nav-dropdown-toggle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  &:after {
    margin: 0 0.5rem !important;
  }
}
.navbar-left .nav-link:not(.active) .nav-dropdown-toggle:after {
  display: none;
}

.nav-link-content {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;

  &>.nav-link-icon {
    display: flex;
    width: 20px;
    height: 20px;
    flex: none;
    align-items: center;
    margin: 0 0.6rem;
  }
}
.navbar-right .nav-link-content:after {
  display: inline-block;
  content: "";
  width: 1px;
  height: 32px;
  background-color: var(--color-border);
}

.user-avatar {
  overflow: hidden;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: white !important;
}
.token-icon-lg {
  width: 32px;
  height: 32px;
  flex: none;
}
.token-icon {
  width: 24px;
  height: 24px;
  flex: none;
}
.token-icon-xs {
  width: 18px;
  height: 18px;
  flex: none;
}
.token-dropdown-item {
  width: 344px;
  overflow: hidden;
}
