# npm node_modules and results of building and testing the VSCode extension
bin/
client/out/
ligo-vscode-*.vsix
node_modules/
.vscode-test/
test-resources/

# nix build results
result
result-*

# LIGO tests with Esy
.ligo/
esy.lock/
