# LIGO Changelog

**Release 0.63.0 and 0.63.1 don't exist. Use 0.63.2 directly**

{{#changelog}}
{{#is_next}}
## <ins>[{{{version}}}](https://gitlab.com/ligolang/ligo/-/commits/dev)</ins>
{{/is_next}}
{{^is_next}}
## <ins>[{{{version}}}](https://gitlab.com/ligolang/ligo/-/releases/{{{version}}})</ins>
{{/is_next}}
> Run this release with Docker: `docker run ligolang/ligo:{{{version}}}`

{{#changes}}
{{#breaking_ind}}
### Breaking :
{{#breaking}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/breaking}}
{{/breaking_ind}}

{{#added_ind}}
### Added :
{{#added}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/added}}
{{/added_ind}}

{{#fixed_ind}}
### Fixed :
{{#fixed}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/fixed}}
{{/fixed_ind}}

{{#changed_ind}}
### Changed :
{{#changed}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/changed}}
{{/changed_ind}}

{{#deprecated_ind}}
### Deprecated :
{{#deprecated}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/deprecated}}
{{/deprecated_ind}}

{{#removed_ind}}
### Removed :
{{#removed}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/removed}}
{{/removed_ind}}

{{#performance_ind}}
### Performance :
{{#performance}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/performance}}
{{/performance_ind}}

{{#internal_ind}}
### Internal :
{{#internal}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/internal}}
{{/internal_ind}}

{{#other_ind}}
### Other :
{{#other}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/other}}
{{/other_ind}}

{{#null_ind}}
### Uncategorized :
{{#null}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/null}}
{{/null_ind}}

{{/changes}}

{{^changes}}
_No changes for this version_
{{/changes}}

<details>
{{#changes}}
<summary> <ins>Details</ins> : </summary>

{{#breaking}}
### [{{{type}}}] {{{title}}}
{{#description}}
{{{description}}}
{{/description}}

{{^description}}
No details provided for this change. Please visit the [MR to learn more](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}})
{{/description}}
{{/breaking}}

{{#added}}
### [{{{type}}}] {{{title}}}
{{#description}}
{{{description}}}
{{/description}}

{{^description}}
No details provided for this change. Please visit the [MR to learn more](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}})
{{/description}}
{{/added}}

{{#fixed}}
### [{{{type}}}] {{{title}}}
{{#description}}
{{{description}}}
{{/description}}

{{^description}}
No details provided for this change. Please visit the [MR to learn more](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}})
{{/description}}
{{/fixed}}

{{#changed}}
### [{{{type}}}] {{{title}}}
{{#description}}
{{{description}}}
{{/description}}

{{^description}}
No details provided for this change. Please visit the [MR to learn more](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}})
{{/description}}
{{/changed}}

{{#deprecated}}
### [{{{type}}}] {{{title}}}
{{#description}}
{{{description}}}
{{/description}}

{{^description}}
No details provided for this change. Please visit the [MR to learn more](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}})
{{/description}}
{{/deprecated}}

{{#removed}}
### [{{{type}}}] {{{title}}}
{{#description}}
{{{description}}}
{{/description}}

{{^description}}
No details provided for this change. Please visit the [MR to learn more](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}})
{{/description}}
{{/removed}}

{{#performance}}
### [{{{type}}}] {{{title}}}
{{#description}}
{{{description}}}
{{/description}}

{{^description}}
No details provided for this change. Please visit the [MR to learn more](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}})
{{/description}}
{{/performance}}

{{#internal}}
### [{{{type}}}] {{{title}}}
{{#description}}
{{{description}}}
{{/description}}

{{^description}}
No details provided for this change. Please visit the [MR to learn more](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}})
{{/description}}
{{/internal}}

{{#other}}
### [{{{type}}}] {{{title}}}
{{#description}}
{{{description}}}
{{/description}}

{{^description}}
No details provided for this change. Please visit the [MR to learn more](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}})
{{/description}}
{{/other}}

{{#null}}
### [{{{type}}}] {{{title}}}
{{#description}}
{{{description}}}
{{/description}}

{{^description}}
No details provided for this change. Please visit the [MR to learn more](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}})
{{/description}}
{{/null}}
{{/changes}}
</details>

---
{{/changelog}}
