:root {
  --color-primary-brand: #3aa0ff;
  --color-secondary-brand: #fc683a;
  --color-accent: #37d7c3;
  --color-primary-text: #0d0f33;
  --color-secondary-text: #5a5c74;
  --color-gray: #ebebeb;
  --color-light-blue: #ebf6ff;
  --color-light-gray: #fafafa;
  --color-white: #ffffff;
  --color-code-background1: #eff4f7;
  --color-code-background2: #d2dfe9;
  --padding-level-1: 20px;
  --padding-level-2: 25px;
  --padding-level-3: 30px;
  --padding-level-4: 45px;
  --padding-level-5: 60px;
  --padding-level-6: 100px;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
.landing .headline {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  /** Override docusaurus rule that makes a huge top margin **/
  margin-top: 1rem;
}

body,
.body,
.headline,
.subhead,
.footnote {
  font-family: "Open Sans", sans-serif;
}

/** TODO: code font size is currently 85%; designs have it as 1rem (16px);
this breaks some of the tiny-text in the internal pages, so wait until those
are fixed to set this to the correct size
**/
.landing code,
.mono {
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
}

code {
  font-family: "Source Code Pro", monospace;
}

h1 {
  font-size: 2.625rem;
}
.landing h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 2.25rem;
}
.landing h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.5rem;
}
.landing h3 {
  font-size: 2.25rem;
}
h4 {
  font-size: 1.125rem;
}
.landing h4 {
  font-size: 1.5rem;
}
.headline {
  font-weight: bold;
  font-size: 1rem;
}
.landing .headline {
  font-size: 1.125rem;
}
body,
.body {
  font-size: 1rem;
}
.landing .body,
.landing {
  font-size: 1.125rem;
}
.subhead {
  font-size: 0.875rem;
}
.landing .subhead {
  font-size: 1rem;
}
.footnote,
footnote {
  font-size: 0.75rem;
}

.projectTitle small {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  margin-top: 0.7em;
}

.fixedHeaderContainer {
  background-color: #ffffff;
  color: var(--color-primary-text);
}

.fixedHeaderContainer a {
  color: var(--color-primary-text);
}

.fixedHeaderContainer .headerWrapper header a:nth-child(2) {
  background-color: #EFEFEF;
  margin-left: 50px;
  padding: 4px 7px;
  font-weight: normal;
}

.fixedHeaderContainer .headerWrapper header h3 {
  margin: 0;
  color: var(--color-primary-text);
  text-decoration: none;
}


.fixedHeaderContainer header .headerTitleWithLogo {
  display: none;
}

.fixedHeaderContainer {
  left: 0;
}

.nav-footer {
  background: var(--color-primary-text);
}

.nav-footer .copyright {
  text-align: left;
  margin-left: 92px;
  margin-top: 3em;

  border-top: 1px solid white;
  padding-top: 3em;
  margin-right: 92px;
}

.nav-footer .footer-wrapper {
  margin: 0 auto 3em;
  max-width: 1080px;
}

.nav-footer .sitemap {
  margin: 0;
}

.navigationSlider .slidingNav {
  background: white;
}

.navigationSlider .slidingNav ul {
  background: white;
  color: var(--color-primary-text) !important;
}

.navigationSlider .slidingNav ul li > a:focus,
.navigationSlider .slidingNav ul li > a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive > a,
.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  background-color: white;
  color: var(--color-primary-brand) !important;
}

/** Top Section **/
.home-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-text {
  text-align: center;
  flex: 1;
}

.sample-code-container {
  display: flex;
  width: 65%;
  justify-content: center;
  box-sizing: border-box;
  background: url(/img/geo.svg) top right/20% 30% no-repeat,
    url(/img/geo.svg) bottom left/30% 50% no-repeat;
}

.sample-code {
  border: solid 1px lightgray;
  width: 80%;
  padding: 10gipx;
  background-color: white;
}

.hljs {
  text-align: left;
  background: transparent;
}

.tabs {
  margin: 0 auto;
  border-top: none;
  border-bottom: 4px solid #e0e0e0;
}

.tabs .nav-tabs > div {
  cursor: pointer;
  color: #24292e;
  border-bottom: none;
  padding-bottom: 8px;
}
.tab-content {
  padding-top: 12px;
}

.tabs .nav-tabs > div.active {
  border-bottom: 4px solid #1a1a1a;
}

.tab-content {
  border-top: 4px solid #e0e0e0;
}

.nav-tabs {
  border: none;
  position: relative;
  top: 4px;
}

/** **/

.disabled {
  cursor: default;
  color: #24292e64 !important;
  border-bottom: none;
}

blockquote {
  background-color: rgba(26, 26, 26, 0.3);
  border-left: 8px solid rgba(26, 26, 26, 0.1);
  color: rgba(255, 255, 255, 1);
}

blockquote code {
  opacity: 0.5;
}

a {
  color: var(--color-primary-text);
}

a:hover {
  color: var(--color-primary-brand);
}

.landing a {
  color: var(--color-white);
}

.landing a:hover {
  font-weight: bold;
}

.promoSection .promoRow {
  padding-top: 0;
  margin-top: 30px;
}

.promoSection .promoRow .pluginRowBlock .pluginWrapper {
  padding: 0 4px;
}

.blockElement {
  color: #1a1a1a;
}

.blockImage {
  margin-bottom: 0px;
}

.blockContent {
  margin-top: -25px;
}

.features,
.team {
  background: white;
  margin-top: -40px;
  position: relative;
  text-align: center;
  /* box-shadow: 0 10px 10px -6px rgba(177, 176, 176, 0.3); */
}

.sectionTitle {
  border-bottom: 4px solid #e0e0e0;
  margin: 0 auto;
  margin-top: 35px;
  padding-bottom: 15px;
}

.sectionTitle.blockTitle {
  margin-bottom: -20px;
}

.lightBackground,
body,
html {
  background: white;
}

body {
  margin: 0 auto;
  max-width: 1500px;
}

.copyright a {
  color: #b2210c;
}

.toc .toggleNav {
  margin-top: 12px;
}

.mainContainer {
  padding-top: 60px;
}

.mainContainer > * {
  padding: var(--padding-level-4) 0;
}

.tocActive .onPageNav > .toc-headings {
  padding-top: 24px;
}

.docsSliderActive #tocToggler {
  opacity: 0;
  visibility: hidden;
}

code {
  background: rgb(240, 240, 240);
  color: #444;
}

body
  > div.fixedHeaderContainer
  > div
  > header
  > div
  > nav
  > ul
  > li:nth-child(5) {
  background: url("/img/discord.svg");
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 50px;
  padding-top: 5px;
  opacity: 0.8;
}

body
  > div.fixedHeaderContainer
  > div
  > header
  > div
  > nav
  > ul
  > li:nth-child(5):hover {
  opacity: 1;
}

body
  > div.fixedHeaderContainer
  > div
  > header
  > div
  > nav
  > ul
  > li:nth-child(5)
  > a:hover {
  background: transparent;
}

.cheatsheet tr > td:first-of-type {
  min-width: 240px;
}

/** Buttons **/

.button,
.large-primary-button,
.large-secondary-button {
  border: none;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.375rem;
  text-transform: none;
  text-align: center;
}

.button,
.button:hover {
  border-radius: 36px;
  padding: 10px 20px;
  background-color: var(--color-primary-brand);
  min-width: 130px;
  color: var(--color-white);
}

.button:hover {
  box-shadow: 0px 2px 15px rgba(58, 160, 255, 0.3);
}

.button:focus {
  background-color: #0078e8;
}

.button[disabled] {
  background: rgba(58, 160, 255, 0.35);
}

.large-primary-button,
.large-primary-button:hover,
.large-secondary-button,
.large-secondary-button:hover {
  border-radius: 37px;
  padding: 5px 20px;
  min-height: 56px;
  min-width: 132px;
  color: var(--color-white);
}

.large-primary-button {
  background-color: var(--color-primary-text);
}

.large-primary-button:hover {
  box-shadow: 0px 2px 25px rgba(13, 15, 51, 0.3);
}

.large-primary-button:focus {
  background-color: #010212;
  box-shadow: 0px 2px 25px rgba(13, 15, 51, 0.3);
}
.large-primary-button[disabled] {
  background: rgba(13, 15, 51, 0.35);
}

.large-secondary-button {
  background-color: var(--color-secondary-brand);
}

.large-secondary-button:hover {
  box-shadow: 0px 2px 25px rgba(252, 104, 58, 0.3);
}

.large-secondary-button:focus {
  background-color: #f33e24;
  box-shadow: 0px 2px 25px rgba(252, 104, 58, 0.3);
}
.large-secondary-button[disabled] {
  background: rgba(252, 104, 58, 0.35);
}

.version-button {
  background-color: var(--color-gray);
  padding: 5px;
  border-radius: 2px;
  color: var(--color-primary-text);
}
.version-button:hover {
  background-color: var(--color-light-blue);
}
.version-button:focus {
  background: rgba(47, 152, 249, 0.3);
}
.version-button[disabled] {
  background: rgba(58, 160, 255, 0.35);
}

.page-button * {
  stroke: var(--color-primary-text);
}
.page-button:hover * {
  stroke: var(--color-secondary-text);
}
.page-button:focus * {
  stroke: #010212;
}

.discord-button #background {
  fill: var(--color-primary-brand);
}
.discord-button:hover svg {
  box-shadow: 0px 2px 15px rgba(58, 160, 255, 0.3);
}
.discord-button:focus #background {
  fill: #0078e8;
}

/** Profile Images **/
.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  color: var(--color-primary-text);
  padding: 0 var(--padding-level-1);
}

.profileContainer a {
  color: var(--color-primary-text);
}

.profileContainer:hover {
  color: var(--color-primary-brand);
}

.profileImage {
  max-height: 195px;
  max-width: 195px;
  border: var(--color-gray);
}
.profileImage:hover {
  box-shadow: 12px 12px 0px var(--color-primary-brand);
}

.team-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: var(--padding-level-1);
  flex-wrap: wrap;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

.profileContainer p {
  color: var(--color-primary-text);
}

.profileContainer:hover p {
  color: var(--color-primary-brand);
}

.profileContainer:hover .profileImage {
  box-shadow: 12px 12px 0px var(--color-primary-brand);
}

.profileImage {
  width: 100%;
  border: var(--color-gray);
}

.flex-inline-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: var(--padding-level-1);
  flex-wrap: wrap;
  align-items: stretch;
}

.team .flex-inline-container {
  align-items: flex-start;
}

/** Feature Cards **/
.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: flex-start;
  max-width: 30%;
  background-color: var(--color-light-gray);
}

.card-text {
  text-align: center;
}

/** Partners **/
.partners-container {
  background-color: var(--color-light-gray);
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: var(--padding-level-3);
  margin: var(--padding-level-4) 0;
}

.partners-container a {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 10px;
}

.partners-text {
  padding: 0 var(--padding-level-1);
  border-left: 5px solid var(--color-primary-brand);
}

.code-snippet > div:nth-child(2) {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .code-snippet > div:nth-child(2) {
    display: block;
  }

  .code-snippet > div:nth-child(1) {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .navigationSlider .slidingNav ul li a {
    color: #0D0F33;
  }

  .navigationSlider .slidingNav ul li a:hover {
    color: #3AA0FF;
  }

  .tab-pane {
    height: 500px;
  }
  
}

@media (min-width: 560px) and (max-width: 768px) {
  /** Special rules to reorient feature cards at only one screen size**/
  .card {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    justify-content: left;
    margin: var(--padding-level-1) 0;
  }
  .card-text {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .profileContainer {
    max-width: 30%;
  }

  .headerWrapper header a:nth-child(2) {
    display: none;
  }
}

@media (max-width: 560px) {
  .card {
    max-width: 100%;
    margin: var(--padding-level-1) 0;
  }
  .profileContainer {
    max-width: 100%;
    width: 100%;
  }
  .hide-small {
    display: none;
  }
}

@media (max-width: 735px) {
  .nav-footer .sitemap {
    max-width: 90%;
    margin: 0 auto;
  }

  .nav-footer .copyright {
    max-width: 90%;
    text-align: left;
    margin: 3em auto;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {

}

@media only screen and (max-width: 1023px) {
  .home-container {
    flex-direction: column;
    align-content: center;
  }

  .home-text {
    text-align: center;
    padding: var(--padding-level-2);
  }

  .sample-code-container {
    width: 100%;
  }
  
  .sample-code {
    padding: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 1280px) {
  .home-container {
    flex-direction: row;
    margin: var(--padding-level-1);    
    max-width: 90%;
    padding: var(--padding-level-3);
  }

}

input#search_input_react::placeholder {
  color: white;
  opacity: .8;
}

@media only screen and (max-width: 1023px) {
  .reactNavSearchWrapper input#search_input_react {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }

  .landing code {
    font-size: .8rem;
  }

  .landing h4.tagline-text {
    font-size: 1.5rem;
  }

}


/* code highlights */
.hljs {
  display:block;
  overflow-x:hidden;
  padding:.5em;
  background:white;
  color:black;
 }
 .hljs-comment,
 .hljs-quote,
 .hljs-variable {
  color:#008000
 }
 .hljs-keyword,
 .hljs-selector-tag,
 .hljs-built_in,
 .hljs-name,
 .hljs-tag {
  color:#00f
 }
 .hljs-string,
 .hljs-title,
 .hljs-section,
 .hljs-attribute,
 .hljs-literal,
 .hljs-template-tag,
 .hljs-template-variable,
 .hljs-type,
 .hljs-addition {
  color:#a31515
 }
 .hljs-deletion,
 .hljs-selector-attr,
 .hljs-selector-pseudo,
 .hljs-meta {
  color:#2b91af
 }
 .hljs-doctag {
  color:#808080
 }
 .hljs-attr {
  color:#f00
 }
 .hljs-symbol,
 .hljs-bullet,
 .hljs-link {
  color:#00b0e8
 }
 .hljs-emphasis {
  font-style:italic
 }
 .hljs-strong {
  font-weight:bold
 }
 
