.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tutorialPanel {
  background-color: #5255A5;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
